h1 {
    text-transform: lowercase;
    font-weight: 200;
    text-align: center;
}
p {
    text-indent: 35px;
    line-height: 1.4;
    letter-spacing: 2px;
    word-spacing: 4px;
}
.img {
    width: 400px;
    height: 200px;
    object-fit: contain;
    object-position: center;
    background: #444;
}
.new {
    color: red;
}
